- name: Deploy one/All of SNMP hosts not active trigger action
  become: false
  community.zabbix.zabbix_action:
    name: "SNMP hosts not active"
    event_source: "trigger"
    state: present
    status: enabled
    esc_period: 60
    conditions:
      - type: "trigger_severity"
        operator: ">="
        value: "warning"
      - type: "trigger"
        operator: "="
        value: "Linux: Unavailable by ICMP ping"
      - type: "trigger"
        operator: "="
        value: "Linux: No SNMP data collection"
      - type: "trigger"
        operator: "="
        value: "Linux: Load average is too high"
      - type: "trigger"
        operator: "="
        value: "Linux: Lack of available memory"
      - type: "trigger"
        operator: "="
        value: "Linux: High ICMP ping loss"
    operations:
      - type: "send_message"
        subject: "Zabbix SNMP Host Alert: Connectivity or Performance Issue"
        op_message: |
          One or more Zabbix SNMP hosts are reporting problems.

          Host: {HOST.NAME}
          Problem: {TRIGGER.NAME}
          Severity: {TRIGGER.SEVERITY}
          Time: {EVENT.DATE} {EVENT.TIME}

          Please verify connectivity and investigate the issue.
        media_type: "all"
        send_to_users:
          - "Admin"
        send_to_groups:
          - "Zabbix administrators"

- name: Deploy Zabbix action for Linux agent unavailability and performance triggers
  become: false
  community.zabbix.zabbix_action:
    name: "Zabbix Agent hosts not active"
    event_source: "trigger"
    state: present
    status: "enabled"
    esc_period: 60
    conditions:
      - type: "trigger_severity"
        operator: ">="
        value: "warning"
      - type: "trigger"
        operator: "="
        value: "Linux: Zabbix agent is not available"
      - type: "trigger"
        operator: "="
        value: "Linux: Load average is too high"
      - type: "trigger"
        operator: "="
        value: "Linux: Lack of available memory"
      - type: "trigger"
        operator: "="
        value: "Linux: High memory utilization"
      - type: "trigger"
        operator: "="
        value: "Linux: High CPU utilization"
    operations:
      - type: "send_message"
        subject: "Zabbix Agent Host Alert: Connectivity or Performance Issue"
        op_message: |
          One or more Zabbix Agent hosts are reporting problems.

          Host: {HOST.NAME}
          Problem: {TRIGGER.NAME}
          Severity: {TRIGGER.SEVERITY}
          Time: {EVENT.DATE} {EVENT.TIME}

          Please verify connectivity and investigate the issue.
        media_type: "all"
        send_to_users:
          - "Admin"
        send_to_groups:
          - "Zabbix administrators"

