apiVersion: v1
kind: ConfigMap
metadata:
  name: zabbix-proxy-psk
data:
  proxy.psk: |
    1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zabbix-proxy-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zabbix-proxy
  labels:
    app: zabbix
    component: zabbix-proxy
    deployment: development
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zabbix
      component: zabbix-proxy
      deployment: development
  template:
    metadata:
      labels:
        app: zabbix
        component: zabbix-proxy
        deployment: development
    spec:
      containers:
      - name: zabbix-proxy
        image: zabbix/zabbix-proxy-sqlite3:latest
        ports:
        - containerPort: 10051
        env:
        - name: ZBX_HOSTNAME
          value: "zabbix-snmp-proxy"
        - name: ZBX_SERVER_HOST
          value: "zabbix-server"
        - name: ZBX_ENABLESNMPTRAPS
          value: "true"
        - name: ZBX_PROXYMODE
          value: "0"
        - name: ZBX_TLSCONNECT
          value: "psk"
        - name: ZBX_TLSACCEPT
          value: "psk"
        - name: ZBX_TLSPSKIDENTITY
          value: "PSK-zabbix-snmp-proxy"
        - name: ZBX_TLSPSKFILE
          value: "/var/lib/zabbix/enc/proxy.psk"
        volumeMounts:
        - name: zabbix-proxy-data
          mountPath: /var/lib/zabbix/db_data
        - name: proxy-psk
          mountPath: /var/lib/zabbix/enc
          readOnly: true
      volumes:
      - name: zabbix-proxy-data
        persistentVolumeClaim:
          claimName: zabbix-proxy-data
      - name: proxy-psk
        configMap:
          name: zabbix-proxy-psk
---
apiVersion: v1
kind: Service
metadata:
  name: zabbix-proxy
spec:
  selector:
    app: zabbix
    component: zabbix-proxy
    deployment: development
  ports:
  - port: 10051
    targetPort: 10051
